<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eq62roket.cashtime">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity
            android:name=".Activities.GroupMembersActivity"
            android:label="Select A Group Member"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.AddNewMemberActivity"
            android:label="Add Member" />
        <activity android:name=".Activities.EditGoalActivity" />
        <activity android:name=".Activities.MembersGoalsActivity" />
        <activity
            android:name=".Activities.TabbedGoalsActivity"
            android:label="@string/title_activity_tabbed_goals"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddGroupGoalsActivity"
            android:label="Add Group Goal"
            android:parentActivityName=".Activities.TabbedGoalsActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity
            android:name=".Activities.TipsActivity"
            android:label="Tips" />
        <activity
            android:name=".Activities.SummaryActivity"
            android:label="Group Summary" />
        <activity
            android:name=".Activities.AddGroupSavingsActivity"
            android:label="Add Group Saving" />
        <activity
            android:label="Add A New Tip"
            android:name=".Activities.AddTipsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.SavingsActivity" />
        <activity android:name=".Activities.AddSavingsActivity" />
        <activity android:name=".Activities.CalendarActivity" />
        <activity
            android:name=".Activities.TabbedSavingActivity"
            android:label="Savings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TabbedTransactionsActivity"
            android:label="@string/title_activity_tabbed_transactions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TabbedAnalysisActivity"
            android:label="Analysis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.IncomeActivity" />
        <activity android:name=".Activities.ExpenditureActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity
            android:name=".Activities.AddMembersGoalsActivity"
            android:label="Add A Member Goal" />
        <activity android:name=".Activities.NewGroupActivity" />
        <activity android:name=".Activities.GroupMembersDetailActivity" />
        <activity
            android:name=".Activities.GroupSavingToGoalsActivity"
            android:label="Select A Group Goal To Add Saving" />
        <activity
            android:name=".Activities.MemberSavingToGoalsActivity"
            android:label="Select A Member Goal To Add Saving" />
        <activity
            android:name=".Activities.AddMemberSavingsActivity"
            android:label="Add A Member Goal" />
        <activity android:name=".Activities.EditMemberSavingActivity" />
        <activity android:name=".Activities.EditGroupSavingActivity" />
        <activity android:name=".Activities.EditGroupGoalActivity" />
        <activity android:name=".Activities.EditMemberGoalActivity" />
        <activity
            android:name=".Activities.TabbedBarriersTipsActivity"
            android:label="Barriers And Tips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GoalTipsActivity"
            android:label="Goal Tips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditTipActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:label="Select A Goal To Add Tip"
            android:name=".Activities.TipsToGroupGoalsActivity" />
        <activity
            android:label="Select A Goal To Add A Barrier"
            android:name=".Activities.BarrierToGroupGoalsActivity" />

        <activity
            android:label="Add A New Barrier"
            android:name=".Activities.AddBarrierActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>