<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eq62roket.cashtime">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".Helper.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/oxfam_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/oxfam_app_id" />

        <activity
            android:name=".Activities.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.GroupMembersActivity"
            android:label="All Group Members"
            android:parentActivityName=".Activities.GroupsActivity" />
        <activity
            android:name=".Activities.AddNewMemberActivity"
            android:label="Add Member"
            android:parentActivityName=".Activities.GroupsActivity"/>
        <activity android:name=".Activities.EditGoalActivity" />
        <activity android:name=".Activities.MembersGoalsActivity" />
        <activity
            android:name=".Activities.TabbedGoalsActivity"
            android:label="@string/title_activity_tabbed_goals"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddGroupGoalsActivity"
            android:label="Add Group Goal"
            android:parentActivityName=".Activities.TabbedGoalsActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.TipsActivity"
            android:label="Tips" />
        <activity
            android:name=".Activities.SummaryActivity"
            android:label="Group Summary" />
        <activity
            android:name=".Activities.AddGroupSavingsActivity"
            android:label="Add Group Saving" />
        <activity
            android:name=".Activities.AddTipsActivity"
            android:label="Add A New Tip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SavingsActivity" />
        <activity android:name=".Activities.AddSavingsActivity" />
        <activity
            android:name=".Activities.CalendarActivity"
            android:label="Calendar"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.TabbedSavingActivity"
            android:label="Savings"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TabbedTransactionsActivity"
            android:label="@string/title_activity_tabbed_transactions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TabbedAnalysisActivity"
            android:label="Analysis"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.IncomeActivity" />
        <activity android:name=".Activities.ExpenditureActivity" />
        <activity android:name=".Activities.EditProfileActivity"
            android:label="Edit Your Profile"
            android:parentActivityName=".Activities.ProfileActivity" />
        <activity
            android:name=".Activities.AddMembersGoalsActivity"
            android:label="Add A Member Goal" />
        <activity android:name=".Activities.AddNewGroupActivity"
            android:label="Add New Group"
            android:parentActivityName=".Activities.GroupsActivity"/>
        <activity android:name=".Activities.GroupMembersDetailActivity" />
        <activity
            android:name=".Activities.GroupSavingToGoalsActivity"
            android:label="Select A Group Goal To Add Saving" />
        <activity
            android:name=".Activities.MemberSavingToGoalsActivity"
            android:label="Select A Member Goal To Add Saving" />
        <activity
            android:name=".Activities.AddMemberSavingsActivity"
            android:label="Add A Member Goal" />
        <activity
            android:name=".Activities.EditMemberSavingActivity"
            android:label="Edit Member Savings"
            android:parentActivityName=".Activities.TabbedSavingActivity" />
        <activity
            android:name=".Activities.EditGroupSavingActivity"
            android:label="Edit Group Savings"
            android:parentActivityName=".Activities.TabbedSavingActivity" />
        <activity android:name=".Activities.EditGroupGoalActivity" />
        <activity android:name=".Activities.EditMemberGoalActivity" />
        <activity
            android:name=".Activities.TabbedBarriersTipsActivity"
            android:label="Barriers And Tips"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GoalTipsActivity"
            android:label="Goal Tips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditTipActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TipsToGroupGoalsActivity"
            android:label="Select A Goal To Add Tip" />
        <activity
            android:name=".Activities.BarrierToGroupGoalsActivity"
            android:label="Select A Goal To Add A Barrier" />
        <activity
            android:name=".Activities.AddBarrierActivity"
            android:label="Add A New Barrier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditBarrierActivity"
            android:label="Edit Barrier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddGroupExpenditureActivity"
            android:label="Add Group Expenditure"
            android:parentActivityName=".Activities.ExpenditureToGroupActivity" />
        <activity android:name=".Activities.GroupMemberIncomeTransactionsActivity" />
        <activity
            android:name=".Activities.AddGroupMembersIncomeActivity"
            android:label="Add Member Income"
            android:parentActivityName=".Activities.GroupMembersIncomeListActivity" />
        <activity
            android:name=".Activities.TabbedExpenditureActivity"
            android:label="@string/title_activity_tabbed_expenditure"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TabbedIncomeActivity"
            android:label="@string/title_activity_tabbed_income"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddGroupMembersExpendituresActivity"
            android:label="Add Member Expenditure"
            android:parentActivityName=".Activities.GroupMembersExpenditureListActivity" />
        <activity
            android:name=".Activities.AddGroupIncomeActivity"
            android:label="Add Group Income"
            android:parentActivityName=".Activities.IncomeToGroupActivity" />
        <activity android:name=".Activities.GroupExpendituresAnalysisActivity" />
        <activity android:name=".Activities.GroupIncomeAnalysisActivity" />
        <activity android:name=".Activities.MembersExpenditureAnalysisActivity" />
        <activity android:name=".Activities.MembersIncomeAnalysisActivity" />
        <activity
            android:name=".Activities.MemberGoalSelectMemberActivity"
            android:label="Select A Group Member" />
        <activity
            android:name=".Activities.EditGroupExpenditureActivity"
            android:parentActivityName=".Activities.TabbedExpenditureActivity" />
        <activity
            android:name=".Activities.EditGroupMemberIncomeActivity"
            android:parentActivityName=".Activities.TabbedIncomeActivity" />
        <activity
            android:name=".Activities.GroupMembersExpenditureListActivity"
            android:label="Select a member"
            android:parentActivityName=".Activities.TabbedExpenditureActivity" />
        <activity
            android:name=".Activities.GroupMembersExpenditureActivity"
            android:label="Select a member"
            android:parentActivityName=".Activities.TabbedExpenditureActivity" />
        <activity
            android:name=".Activities.GroupMembersIncomeListActivity"
            android:label="Select a member"
            android:parentActivityName=".Activities.TabbedIncomeActivity" />
        <activity
            android:name=".Activities.EditGroupIncomeActivity"
            android:label="Edit Group Income"
            android:parentActivityName=".Activities.TabbedIncomeActivity" />
        <activity
            android:name=".Activities.EditGroupMemberExpenditureActivity"
            android:label="Edit Income"
            android:parentActivityName=".Activities.TabbedExpenditureActivity" />
        <activity android:name=".Activities.AddIncomeSourceActivity" />
        <activity android:name=".Activities.AddExpenditureCategoryActivity" />
        <activity android:name=".Activities.IncomeSourcesActivity" />
        <activity android:name=".Activities.ExpenditureCategoriesActivity" />
        <activity
            android:name=".Activities.GroupsActivity"
            android:label="Your Groups"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.EditGroupMemberActivity"
            android:label="Edit Group Member"
            android:parentActivityName=".Activities.GroupMembersActivity" />
        <activity
            android:name=".Activities.EditGroupActivity"
            android:label="Edit Group" />
        <activity
            android:name=".Activities.GoalsToGroupActivity"
            android:label="Select A Group" />
        <activity
            android:name=".Activities.IncomeToGroupActivity"
            android:label="Select a group"
            android:parentActivityName=".Activities.TabbedIncomeActivity" />
        <activity
            android:name=".Activities.ExpenditureToGroupActivity"
            android:label="Select a group"
            android:parentActivityName=".Activities.TabbedExpenditureActivity" />
        <activity android:name=".Activities.EditIncomeSourceActivity" />
        <activity android:name=".Activities.EditExpenditureCategoryActivity" />
        <activity
            android:name=".Activities.GroupAnalysisActivity"
            android:parentActivityName=".Activities.TabbedAnalysisActivity" />
        <activity
            android:name=".Activities.MemberAnalysisActivity"
            android:parentActivityName=".Activities.TabbedAnalysisActivity" />
        <activity
            android:name=".Activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity android:name=".Activities.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".Activities.SettingsActivity"/>
        <activity android:name=".Activities.TermsOfServiceActivity"
            android:label="@string/title_activity_terms_of_service"
            android:parentActivityName=".Activities.SettingsActivity"/>
        <activity android:name=".Activities.VersionsActivity"
            android:label="@string/title_activity_version"
            android:parentActivityName=".Activities.SettingsActivity"/>
        <activity android:name=".Activities.LicenseActivity"
            android:label="@string/title_activity_license"
            android:parentActivityName=".Activities.SettingsActivity"></activity>
    </application>

</manifest>